*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

@scope (.proc) {
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

body {
  background-color: #141715e6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#glass {
  fill: rgba(255, 255, 255, 0.27);
}

.letter {
  display: inline-block;
  margin: -5px;
}

.proc {
  height: auto;
  overflow: visible;
  font-family: "JetBrains Mono";
  font-size: 50px;
  color: #fff;
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn,
.reset {
  background-color: transparent;
  font-size: 22px;
  font-family: "JetBrains Mono";
  font-weight: 700;
  color: aliceblue;
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid currentColor;
  max-width: 110px;
}

.btn {
  width: 110px;
  .s,
  .t,
  .a,
  .r,
  .t2 {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover .s {
    animation: animate-letter 160ms;
  }
  &:hover .t {
    animation: animate-letter 160ms 200ms;
  }
  &:hover .a {
    animation: animate-letter 160ms 400ms;
  }
  &:hover .r {
    animation: animate-letter 160ms 600ms;
  }
  &:hover .t2 {
    animation: animate-letter 160ms 800ms;
  }
}

.reset {
  letter-spacing: 2px;
  border-color: red;
  color: red;
}

.main {
  animation: spin 10s ease infinite;
}

.reset-animation p {
  animation: reset 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 1000;
    stroke: red;
  }
  25% {
    stroke: rgb(255, 123, 0);
  }
  32% {
    stroke: rgb(224, 193, 17);
  }
  50% {
    stroke: rgba(218, 255, 6, 0.911);
  }
  62% {
    stroke: rgba(160, 255, 6, 0.918);
  }
  100% {
    stroke-dashoffset: 2000;
    stroke: rgb(5, 161, 5);
  }
}

@keyframes reset {
  10%,
  90% {
    transform: translateX(-0.5px);
  }
  20%,
  80% {
    transform: translateX(1px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-2px);
  }
  40%,
  60% {
    transform: translateX(2px);
  }
}

@keyframes animate-letter {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
